{% extends 'base/base.html' %}
{% load extr_blog %}

{% block content %}
<!-- 본문 -->
<div class="container-flueid">
    <h1 class="mt-4">{{ title_nm }}</h1>
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4">
                {% for list in dataList %}
                    <div class="card-header py-3">
                        <h2 class="m-1 font-weight-bold text-dark"><span id="{{ list.pb_detail__sub_title }}">{{ list.pb_datail__sub_title }}</span></h2>
                    </div>
                    <div class="card-dody">
                        {% if list.pb_detail__img_url %}
                        <div class="text-center">
                            <!-- style 부분 추후 수정 필요(작동에는 문제 없음)-->
                            <!-- <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: {{ list.pb_detail__img_size }}rem;" src="{{ list.pb_detail__img_url }}"/> -->
                            <img class="lazyload" data-src="{{ list.pb_detail__img_url }}"/>
                        </div>
                        {% endif %}

                        <div class="mb-2 pl-4">{{ list.pb_detail__content_body|formatted_markdown }}</div>
                    </div>
                {% endfor %}
                <div class="card-body">
                    {% include 'base/sharing.html' %}
                </div>
                </div>
            </div>
        </div>
</div>

<!-- 사이트 네비 메뉴 -->
<div class="'col-lg-4 mb-4">
    <div id="right_menu" class="col-xl-3 col-md-6 mb-4">
        <!-- <div class="card border-left-into shadow h-100 py-2 mb-3" style="display:none;"> -->
            <div class="card border-left-into shadow h-100 py-2 mb-3">
            <div class="card-body">
                <!--<div class="h5 mb-0 font-weight-bold text-gray-800 text-center">{{title_nm}}</div> -->
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        {% if pageInfo.get_previous %}
                            <div>
                                <span class="h6 mb-1 font-weight-bold">
                                    <a href="{{pageInfo.get_previous.get_absolute_url}}">{{pageInfo.get_previous}}</a>
                                </span>
                            </div>
                        {% endif %}
                        <hr class="d-none d-md-block">

                        <div>
                            <span class="h6 mb-1 font-weight-bold anchor_link righmenu_link_idx0 active">
                                <a href="#{{title_nm}}">{{title_nm}}</a>
                            </span>
                        </div>
                        {% for list in dataList %}
                            <div>
                                <span class="h6 mb-1 font-weight-bold text-gray-800">
                                    <a href="#{{list.pb_detail__sub_title}}">{{list.pb_detail__sub_title}}</a>
                                </span>
                            </div>
                        {% endfor %}

                        <hr class="d-none d-md-block">
                        {% if pageInfo.get_next %}
                            <div>
                                <span class="h6 mb-1 font-weight-bold">
                                    <a href="{{pageInfo.get_next.get_absolute_url}}">{{pageInfo.get_next}}</a>
                                </span>
                            </div>
                        {% endif %}
                    </div><!--<div class="col mr-2">-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}