{% extends 'base/base.html' %}
{% block content %}
<div class="container-flueid">
    <h1 class="mt-4">Python Blogs</h1>
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4">
                {% for list in object_list %}
                    <div class="card-header">
                        <p><a href='#'>{{list.title}}</a></p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endblock %}