{% extends 'base/base.html' %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Pyblog</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Pyblog</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div>
{% endblock %}
{% block js %} <!-- 해당 페이지에 js가 필요할 경우 첨부하기 위함 -->
    {{block.super}} <!-- base.html에 정의된 block js와 같이 사용하겠다는 뜻 -->
{% endblock js %}